{% load static %}

    <!--TITLE-->
    <title>Welcome to ZZak-Blog. Blog about Finance and Programming.</title>
    <!--META CHARSET-->
    <meta charset="UTF-8">
    <!--META VIEWPORT-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!--META EDGE-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--META DESCRIPTION-->
    <meta name="description" content="Hi and welcome. On this blog you will be able to find infomation on different of my work and hobbies with the main focus directed to Finance(mostly focused on investing) and Programming. Hope you find it either educational or entertaining or possibly even both.">
    <!--META KEYWORDS-->
    <meta name="keywords" content="ZZAK, ZZAKARIYA, ZZAK-Blog, FINANCE BLOG, PROGRAMMING BLOG, PROGRAMMING,PYTHON, PYTHON 3, DJANGO, DJANGO 3, FINANCE, ECONOMICS,CRYPTO, CRYPTOCURRENCY, BITCOIN, STOCKS, REAL ESTATE, INVESTING, VALUE INVESTING ">
    <!--REST OF META DATA-->
    <meta name="google-site-verification" content="Vx6pVNgBPLF8FoIYTXafRsYYWLu5dNPuoQ5SR8OozO0" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom icon font-->
    <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- Fancybox-->
    <link rel="stylesheet" href="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'styles/github.css' %}">
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    